.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  padding: 5%;
  color: white;
}

.Content {
  border: solid gold;
}

.Input-div {
  margin: 2%;
  margin-bottom: 0%;
}

label {
  margin-right: 1%;
}

.Period-btn {
  margin: 1%;
  padding: 1%;
  border-radius: 35%;
}

.Period-btn.active {
  background-color: gold;
  border-radius: 35%;
}

.results {
  margin: 1%;
}